* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
   margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 html{
  scroll-behavior: smooth;

 }
:root {
  --white: white;
  --purp:#543ee0;
  --pink: #ea526f;
  --box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  --black: black;
  --lightDark: rgb(29, 26, 26);
  --lighterDark: rgb(49, 46, 46);
  --gray: rgb(213, 208, 208);
}
 
/*styling for Login And coverPage*/
.view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  margin-top: 5%;
  margin-bottom: 30px;
}

.login-form {
  margin: 0px 120px;
}

.login-form h1 {
  color: var(--black);
  font-size: 28px;
  margin-bottom: 40px;
  text-align: center;
}

label {
  display: block;
  padding-bottom: 15px;
  color: var(--lightDark);
  font-size: 17px;
  transition: 0.4s;
  font-weight: 500;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  appearance: none;
  border: var(--gray) 1px solid;
  outline: none;
  background: none;

  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 25px;

  color: #333;
  font-size: 14px;

  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  background-color: transparent;

  transition: 0.4s;
}
input::placeholder {
  color: var(--lighterDark);
  transition: 0.4s;
}

input[type='submit'],
button[type='button'] {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--purp);
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
button[type='button'] {
  background-color: white;
  color: var(--black);
  border: var(--gray) 1px solid;
  text-align: center;
  margin-top: 15px;
}
button[type='button'] a {
  text-decoration: none;
  color: var(--black);
  font-weight: 100;
}
input[type='submit']:hover {
  cursor: pointer;
}

.cover-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/unsplash_9pjBx5uVBlg.png);
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  object-fit: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
.cover-page .cover-content {
  color: var(--white);
  padding: 0 30px;
}
.cover-content h1 {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.container {
  display: flex;
   
}
/* .login-container .cover-item{
	flex-basis: 1;
} */
.login {
  flex-grow: 1;
}
.cover {
  width: 50vw;
}
.navBar {
  text-align: center;
  margin-bottom: 30px;
}
.navBar nav {
  display: flex;
  justify-content: center;
  
}
.navBar nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 600;
}
/* .navBar nav a{
  padding-left: 70px;
 } */

.navBar nav .nav-item .next {
  padding-left: 120px;
}
.navBar nav .nav-item .prev {
  padding-right: 120px;
}

.navBar nav .nav-item div {
  background-color: var(--gray);
  height: 5px;
  margin-top: 10px;
}
.active .nav-item .log {
  background-color: var(--purp);
}
/* End of Login and Cover Page Stying */

/* Signup page Stying */
.name-tag {
  display: flex;
  align-items: center;
  width: 100%;
  /* justify-content: space-between; */
  gap: 20px;
}
#select-option {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 25px;
  border: var(--gray) 1px solid;
  color: #333;
  font-size: 14px;
}
.linkedin {
  color: rgb(49, 49, 156);
}
/* End of Signup page Stying */

/*ConfirmPage page Stying */

.confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
.confirm-container .content {
  display: flex;
}
.confirm-container .content .input-item {
  padding: 0 10px;
  margin: 0 10px;
  width: 70px;
  height: 70px;
  border: 1px solid var(--gray);
  border-radius: 4px;
}
.confirm-container .content input {
  width: 70px;
  height: 70px;

  outline: none;
  border: none;
  background: none;
  appearance: none;
}
.confirm-container input[type='submit']{
  width: 50%;
  margin-top: 25px;
}
.confirm-container h1{
  padding-bottom: 20px;
}
.confirm-container span{
  padding-bottom: 20px;
}
/* End of ConfirmPage page Stying */
/*  HomePage Stying */
.navit{
  position: fixed;
  background-color: var(--white);
  width: 100%;
}
  .nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
     
  }
  .nav-content{
    display: flex;
   
  }
  .nav-header ul{
    display: flex;

  }
  .nav-header ul li{
    text-decoration: none;
    list-style: none ;
    padding-left: 20px;
   }
 
  .nav-header ul li a{
    text-decoration: none;
  color: var(--black);
  transition: all 1s ease;
}

  .nav-header ul li a:hover{
    color: var(--purp);
    font-size: 23px;
    cursor: pointer;
  }
  .logo{
  font-weight: 700;
  color: var(--purp);
  font-size: 30px;
}
/* .menu-bar{
  display: none;
} */
.btns button, .btn-item{
  appearance: none;
  background-color: var(--white);
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid var(--purp);
  font-weight: 400;
  transition: all 2s ease;
}
.btns .btn-diff{
  background-color: var(--purp);
  color: var(--white);
  margin-left: 20px;
 
}
.btns .btn-diff:hover{
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}
.btns button:hover{
  background-color: var(--purp);
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
}
.home-header{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(assets/jeshoots-com--2vD8lIhdnw-unsplash.jpg);
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.home-header .header-items{
  width: 53%;
color: var(--white);
 
}
.home-header .header-items h1{
  padding-bottom: 25px;
  line-height: 50px;
  font-size:  2.5rem;
}
.header-items p{
  font-size: 20px;
}
.btn-item{
  background-color: var(--purp);
  color: var(--white);
  transition: all 2s ease;
  font-size: 20px;
  margin-top:18px;
  border:  none;
}

.btn-item:hover{
  background-color: var(--white);
  color: var(--black);
  font-size: 23px;
  cursor: pointer;
}

/* about styling */
.about{
  margin:70px;
}
.about-container{
  display: flex;
  justify-content: space-between;
  align-items:start;
}
.about-container .about-text{
width: 50%;
 
}
.about-container .about-text h3{
font-size: 2.5rem;
padding-bottom: 30px;
}
.about-container .about-text p{
  line-height: 1.5rem;
}

.about-container .about-image img{
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  /* overflow: hidden; */
  border-radius: 10px;
}
/* know more styling */
.know-more{
  margin: 70px 100px;
}

.know-container h3{
  text-align: center;
  font-size: 2.5rem;
   
}
.know-container p{
  line-height: 1.5rem;
  padding: 40px  0 30px 0;
}

.know-container .know-contents{
display: flex;
gap: 40px;
}
.know-container .know-contents .know-items{
  border: 1px solid var(--gray);
  text-align: left;
  padding: 20px;
  padding-bottom: 0;
  width: 35%;
  border-radius: 10px;
}
.know-contents .know-items p{
 padding-top: 15px;
 color: rgb(133, 133, 133);
}
.know-contents .know-items span{
  font-weight: 600;
  font-size: 20px;
}
.know-contents .know-items .logo{
  background-color: rgb(236, 236, 247);
  border-radius: 50%;
   height: 50px;
   width: 50px;
   text-align: center;
   padding: 10px 0;
   overflow: hidden;
   margin-bottom: 20px;
}
/*join chatter styling*/
.join-chatter{
  background-color:#ffedcc ;
}
.join-content{
 display: flex;
 padding: 50px 90px;
 gap: 50px;
 align-items: center;
}
.join-content .image {
 min-width: 50%;
}
.join-content .text{
  max-width: 50%;
}
 
.join-content .image img{
 width: 200px;
 height: 200px;
 object-fit: cover;
 object-position: center;
 border-radius: 50%;
  
}
.join-content .text blockquote{
  padding-bottom: 40px;
}
.join-content .text span{
font-weight: 700;
font-size: 22px;
}

.join-content .text small{
  font-weight: 100;
  font-size: 16px;
  }

.join-content button{
  display: block;
}
.image-item{
 
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;

}
.team{
  margin: 70px 100px;

}
.team-image{
  display: flex;
  align-items: center;
  gap: 50px;
 width: 50%;
}
.mage{
  display: flex;
  flex-direction: column;
  gap: 50px;
 
}
.team-content{
  display: flex;
  align-items: flex-start;
}
.team-content .team-text{
   width: 50%;
}
.team-content .team-text h3{
  font-size: 2.7rem;
}
.team-content .team-text p{
  padding: 20px 0;
  line-height: 30px;
}
.contact-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact{
  background-color: #ffedcc;
  padding: 70px 140px;
}
.contact-content .items h3{
  padding-bottom: 15px;
}
.contact-content .items ul li{
  padding-bottom: 15px;
  list-style: none;
}
.contact-content .items ul li a{
  text-decoration: none;
  color: var(--lightDark);
}
.contact-content .items ul li a:hover{
  color: var(--purp);
}
 /* styling sidebar */

 .sidebar{
  position: absolute;
 top: 0;
  right: -900px;
  height: 100%;
  width: 200px;
  z-index: 100;
  background-color:  var(--lighterDark);
  padding: 70px 30px;
  transition: all 1.5s ease;
  
 }
 .sidebar.active{
  right: 0;
  position: fixed;
 }
 .sidebar ul li{
  list-style: none;
 }
 .sidebar ul li a{
  color: var(--white);
  text-decoration: none;
  transition: all 1.5s ease;
 }
 .sidebar ul li a:hover{
  font-size: 24px;
  color: var(--purp);
 }
 .sidebar ul li {
  padding-bottom: 70px;
 }
 .sidebar .side-btn{
  color: var(--white);
  text-decoration: none;
 
  
 }

 .side-btn div{
  padding-bottom: 70px;
  transition: all 1.5s ease;
 }
 .sidebar  .side-btn div:hover{
  font-size: 24px;
  color: var(--purp);
 }
  
 .close-bar{
  color: var(--white);
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
 }
 .nav-header .menu-bar{
  align-content: center;
  display: none;
  cursor: pointer;
  }
 /* SideNav styling Begins */
 .sidebar-container{
  width: 270px;
  border-right: 1px solid var(--gray);
  height: 100vh;
 padding: 30px 50px;
 overflow-y: hidden;
 }
  
 .sidebar-container .items-contents{
 margin-top: 30px;
 }
 .sidebar-container .items-contents .items h5{
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
 }
 .sidebar-container .items-contents .items .sub-items{
 padding-left: 20px;
 }
 .sidebar-container .items-contents .items .sub-items .item{
  padding: 12px 0;
  font-size: 14px;
 }
 .sidebar-container .items-contents .items .sub-items.icon .item span{
  padding-left: 10px;
 }
 .sub-items .item .item-text{
  font-weight: 800;
 }
/* SideNav styling ends */


@media (max-width:850px) {
  .nav-header nav, .nav-header .btns{
    display: none;
  }
  .nav-header .menu-bar{
    display: inline-flex;
    }
  .home-header .header-items{
    width: 73%;}
  .home-header .header-items h1{
    font-size: 1.7rem;
    line-height: 30px;
  }
  .header-items p{
    font-size: 17px;
  }
  .about-container{
    display: block;
  }
  .about-container .about-text{
    width: 100%;
    padding-bottom: 20px;
  }.know-more{
    margin: 70px 50px;
  }
  .know-container .know-contents .know-items{
    
    width: 55%;}
    .know-container .know-contents{
     
      gap: 20px;
      }
      .team-content .team-text h3{
        font-size: 1.7rem;
      }
      .team{
        margin: 70px 20px;
      
      }
      .contact{
        padding: 70px 30px;
      }
      .cover{display: none;}
      .name-tag{
        display: block;
      }
}
@media (max-width:650px){
  .about-container .about-text h3, .know-container h3{
    font-size: 1.7rem;
    padding-bottom: 20px;
    }
     
    .know-container p{
      padding-top: 15px;
    }
    .about{
      margin:50px 30px;
    }
    .know-container .know-contents{
      flex-direction: column;
      }
      .know-container .know-contents .know-items{
    
        width:100%;}
        .join-content .text span{
           font-size: 19px;
          }
        .join-content{
          gap: 20px;
          padding: 50px 30px;}
          .join-content .image {
            min-width: 40%;
           }
           .join-content .text{
            max-width: 60%;
          }
          .join-content .image img{
            width: 150px;
            height: 150px;}
            .team-content{
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
            }
            .team-content .team-text{
              width: 100%;
           }
           .team-image{
            flex-direction: column-reverse;
            justify-content: center;
           width: 100%;
           gap: 20px;
           padding-bottom: 30px;
          }
           .mage{
            flex-direction: row;
            gap: 20px;
           
}
.contact-container .logo{
display: none;
}
.contact-container{
  align-items: flex-start;
}
.view {
  min-height: 100vh;
 }
.view .login-form {
  margin: 0px 40px;
  margin-top: 30%;
}
.view .sign {
   margin-top: 5%;
  
}
}
@media (max-width:550px){
 
}
@media (max-width:450px){
  .join-content{
    flex-direction: column;
  }
  .join-content .image {
    min-width: 50%;
   }
   .join-content .text{
    max-width: 100%;
  }
  .team-content .team-text p{
    padding-bottom: 0;
  }
  .know-more{
    margin: 70px 20px;
  }
  .contact{
     padding: 70px 10px;
  }
  .login-form h1 {
    font-size: 23px;
  }
  .navBar nav .nav-item .next {
    padding-left: 70px;
  }
  .navBar nav .nav-item .prev {
    padding-right: 70px;
  }
  .view .login-form {
    margin-left:  20px;
    margin-right:  20px;
   }
   .nav-header{
    margin: 20px 20px;}
}
 
/* End of HomePage  Stying */
 